<div class="row">
  <div class="col-6 offset-3">

    <div class="card border-primary rounded-0">
      <div class="card-header bg-transparent border-primary text-center">
        <strong class="text-primary"><%= t('views.tasks.new_html.title') %></strong>
      </div>
      <div class="card-body">
        <%= render 'form', task: @task %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-6 offset-3 text-center">
        <%= link_to t('views.tasks.back'), tasks_path, class: "btn btn-outline-primary rounded-0" %>
      </div>
    </div>

  </div>
</div>
