<div class="row">
  <div class="col-8 offset-2">

    <h2><font color="#007BFF">Your Task</font></h2>
    <font color="#007BFF">シンプルな個人向けタスク管理アプリです。</font>
    <br>
    <br>

    <% if notice != nil %>
      <div id="notice">
        <strong><%= notice %></strong>
        <br>
        <br>
      </div>
    <% end %>

    <div class="card border-primary rounded-0">
      <div class="card-header bg-transparent border-primary text-center">
        <strong class="text-primary"><%= t('views.users.new_html.title') %></strong>
      </div>
      <div class="card-body">
        <%= render 'form', user: @user %>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-6 offset-3 text-center">
        <%= link_to 'ログイン', new_session_path, class: "btn btn-outline-primary rounded-0" %>
      </div>
    </div>

  </div>
</div>
